<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>818737584648-ousc14htpn77e5mt3a7k85hoodig56em.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.818737584648-ousc14htpn77e5mt3a7k85hoodig56em</string>
	<key>API_KEY</key>
	<string>AIzaSyDbqtWJ3V6CSj97Hjn0pbjAD7s0e9LmQr8</string>
	<key>GCM_SENDER_ID</key>
	<string>818737584648</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.simarc86.covender</string>
	<key>PROJECT_ID</key>
	<string>covener-2b305</string>
	<key>STORAGE_BUCKET</key>
	<string>covener-2b305.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:818737584648:ios:4c1276cacc3ca506</string>
	<key>DATABASE_URL</key>
	<string>https://covener-2b305.firebaseio.com/</string>
</dict>
</plist>
