<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>41684413058-u8lsjinkjpi2aei3ahrt1escru6qetce.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.41684413058-u8lsjinkjpi2aei3ahrt1escru6qetce</string>
	<key>API_KEY</key>
	<string>AIzaSyBEFbB7Oj0EvdsizXxjMA_nNLPjeq2Jg9g</string>
	<key>GCM_SENDER_ID</key>
	<string>41684413058</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.simarc.covender</string>
	<key>PROJECT_ID</key>
	<string>covender-2d90d</string>
	<key>STORAGE_BUCKET</key>
	<string>covender-2d90d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:41684413058:ios:bd3fee084489071ddf229b</string>
	<key>DATABASE_URL</key>
	<string>https://covender-2d90d.firebaseio.com</string>
</dict>
</plist>